.white {
    color: #fff;
}
.orange {
  color: $orange;
}
.purple {
  color: $purple;
}
.dark-grey {
    color: $dark-grey;
}



.white-bg {
    background-color: #fff;
}
.orange-bg {
    background: $orange;
}
.purple-bg {
    background: $purple;
}
