html,
body {
    height: 100vh;
    font-family: 'Futura', sans-serif;
    line-height: 1.2;
    color: $dark-grey;
}
em {
    font-style: italic;
}
body {
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
body.loaded {
    opacity: 1;
}

a {
    text-decoration: none;
}

img {
    width: auto;
    max-width: 100%;
}


.container--small {
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
}
.text-slider p {
    font-size: 22px;
}



/* Ids */
#what-matters {
    width: 650px;
    max-width: 100%;
    margin: 0 auto;
}
#section-1 {
    z-index: 10;
}

#section-2 {
    z-index: 9;
}
#section-3 {
    z-index: 8;
}
#section-4 {
    z-index: 7;
}
#section-5 {
    z-index: 6;
}
#section-6 {
    z-index: 5;
}
#section-7 {
    z-index: 4;
}
#section-8 {
    z-index: 3;
}
#section-9 {
    z-index: 2;
}
#section-10 {
    z-index: 1;
}
#section-7 {
    min-height: 0;
}
#section-7 input {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0;
    border: 0;
    width: 100%;
    outline: 0;
}
#section-7 input:not([type="submit"]) {
    border-bottom: 1px solid #c4c4c4;
}
#section-7 input[type="submit"] {
    background: $orange;
    color: #fff;
}


@media screen and (max-width: 1100px) {
    .container {
        width: 980px;
    }
}




